.problem{
  height : 100%;
  width : 100%;
  overflow-y: scroll;
  display : inline-block;
  padding: 20px;
  border-right: var(--dist) solid 1px;
  font-family: 'Consolas', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
}

.problem::-webkit-scrollbar {
  width: 12px;
}

.problem::-webkit-scrollbar-thumb {
  background-color: #2a2e38;
}

.problem-description-body-content {
  width: 100%;
  padding: 10px;
  white-space: normal;
}

.problem-description-body-restriction {
  width: 100%;
  padding: 10px;
  white-space: normal;
}
.problem-description-body-ioexam {
  width: 100%;
  padding: 10px;
  white-space: normal;
}

ul {
  padding-left: 20px;
}