@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --editor-bg: #eee;
    --editor-border: #3f87a6;
    --editor-gutter-border: #7aecb3;
    --main-bg: #2e3440;
    --main-col: #d8dee9;
    --text-col: #d8dee9;
    --dist: #232831;
    --option-col: #37485d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.editor{
    height: 100%;
    width: 100%;
    display: inline-block;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.editor__wrapper{
    width: 100%;
    height: 100%;
    display: inline-block;
    flex-direction: column;
    background-color: var(--main-bg);
    /* padding: 2em;
    border-radius: 3px;
    border: 1px solid #ccc; */
}

.editor__body{
    /* flex: 1; */
    height: 70%;
    width: 100%;
    display: inline-block;
    border-bottom: var(--dist) solid 1px;
}

.editor__footer{
    height: 30%;
    /* display: flex; */
    flex-direction: column;
    background-color: var(--main-bg);
}

.editor__footer--top{
    display: flex;
    padding-left: 10px;
    height: fit-content;
}

.editor__footer--bottom{
    /* flex: 1; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.editor__btn{
    border: 1px solid var(--option-col);
    padding: .5em;
    color: white;
    font-weight: 600;
    background-color: var(--option-col);
    border-radius: 5px;
    margin: 0.2rem;
    /* border: 2px solid #333; */
    margin-left: 5px;
    width: 100px;
    cursor: pointer;
}

.editor__consols{
    background-color: #fff;
    width: 100%;
    height: 100%;
    /* margin-top: .9em; */
    /* border: 1px solid var(--editor-border); */
    background-color: var(--main-bg);
    overflow: auto;
    border-top: var(--dist) solid 1px;
}

.editor__code{
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ace_editor, .ace_editor *{
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
    font-size: 25px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}


.ace-dracula .ace_marker-layer .ace_selected-word {
    box-shadow: none !important;
    background-color: #444863;
    border-radius: 3px;
}

.ace-crimson-editor .ace_marker-layer .ace_selected-word{
    box-shadow: none !important;
    background-color: #c9cdeb;
    border-radius: 3px;
}

/* Editor Conosle Logs */
.editor__console-logs {
    padding: 10px;
    list-style: none;
}

.editor__console-logs li pre {
    font-size: 1.3em;
    font-family: Inconsolata, sans-serif;
}

.ace_gutter {
    border-left: 5px solid var(--editor-gutter-border);
}

/* Setting Style */
.setting{
    position: relative;
    padding: 0 1rem;
    box-shadow: inset 0 -0.0625rem #172334;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    height: 3rem;
}

.setting__theme{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.setting__theme label{
    border: 1px solid var(--option-col);
    background-color: rgba(0,0,0,0);
    color: var(--option-col);
    padding: 0.2rem 0.5rem;
    font-size: 12pt;
    font-weight: 600;
}
.setting__theme input[type="radio"]:checked + label{
    color:white;
    background-color: var(--option-col);
    cursor: pointer;
}

.setting__theme label:hover{
    color:white;
    background-color: var(--option-col);
    cursor: pointer;
}
.setting__theme input[type="radio"] {
    box-sizing: border-box;
    display: none;
    padding: 0;
}

.setting__theme .theme__dark {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: -1px;
}

.setting__theme .theme__light {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -1px;
}